@font-face {
  font-family: pong;
  src: url("../fonts/pong.ttf");
}
@font-face {
  font-family: arcade;
  src: url("../fonts/arcade.ttf");
}

body {
  overflow: hidden;
  font-family: "pong";
  font-size: xx-large;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body p, body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
}
body a {
  color: #666;
  text-decoration: none;
}
body ul, body li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@keyframes flashText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes joystick {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.arcadeMachine .container .machine .downSide:before, .arcadeMachine .container .machine .controls .upControls:before, .arcadeMachine .container .machine .controls .downControls:before, .arcadeMachine .container .machine .screenWrapper:before, .arcadeMachine .container .machine .upSide:before, .arcadeMachine .container .machine .downSide:after, .arcadeMachine .container .machine .controls .upControls:after, .arcadeMachine .container .machine .controls .downControls:after, .arcadeMachine .container .machine .screenWrapper:after, .arcadeMachine .container .machine .upSide:after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #FFC107;
  box-shadow: 0 0 10px #fff, 0 0 2px #fff, 0 0 10px #FFC107, 0 0 20px #FFC107, 0 0 20px #FFC107, 0 0 60px #FFC107, 0 0 70px #FFC107;
  z-index: 1;

}
.arcadeMachine .container .machine .downSide:before, .arcadeMachine .container .machine .controls .upControls:before, .arcadeMachine .container .machine .controls .downControls:before, .arcadeMachine .container .machine .screenWrapper:before, .arcadeMachine .container .machine .upSide:before {
  left: 0;
}
.arcadeMachine .container .machine .downSide:after, .arcadeMachine .container .machine .controls .upControls:after, .arcadeMachine .container .machine .controls .downControls:after, .arcadeMachine .container .machine .screenWrapper:after, .arcadeMachine .container .machine .upSide:after {
  right: 0;
}

.arcadeMachine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.arcadeMachine .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 20px 0;
}
.arcadeMachine .container .machine {
  width: 670px;
  position: relative;
}
.arcadeMachine .container .machine .upSide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-image: url("../images/fons.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  width: 100%;
  height: 100px;
  border: 3px solid #1d1d1d;
  background-color: rgb(24, 74, 134);
  box-sizing: border-box;
  position: relative;
}
.arcadeMachine .container .machine .upSide .txt {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  font-style: italic;
  letter-spacing: 2px;
}
.arcadeMachine .container .machine .upSide .txt:before, .arcadeMachine .container .machine .upSide .txt:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skew(-15deg);
}
.arcadeMachine .container .machine .upSide .txt:before {
  right: 51%;
  width: 30px;
}
.arcadeMachine .container .machine .upSide .txt:after {
  left: 51%;
  width: 10px;
}
.arcadeMachine .container .machine .upSide .txt .deco {
  color: #FFC107;
  text-shadow: 0 0 10px #fff, 0 0 2px #fff, 0 0 10px #FFC107, 0 0 20px #FFC107, 0 0 20px #FFC107, 0 0 60px #FFC107, 0 0 70px #FFC107;
  font-size: 50px;
}
.arcadeMachine .container .machine .screenWrapper {
  width: 90%;
  height: 380px;
  margin: auto;
  border: 3px solid #1d1d1d;
  border-top: 0;
  background-color: rgb(12, 44, 82);
  box-sizing: border-box;
  position: relative;
}
.arcadeMachine .container .machine .screenWrapper .screen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: calc(100% - 60px);
  height: calc(100% - 25px);
  margin: auto;
  background-color: rgba(29, 29, 29, 0.5);
  border: 3px solid #1d1d1d;
  border-top: 0;
  position: relative;
}
.arcadeMachine .container .machine .screenWrapper .screen:before, .arcadeMachine .container .machine .screenWrapper .screen:after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 3px;
  height: 35px;
  background-color: #1d1d1d;
  transform-origin: bottom;
}
.arcadeMachine .container .machine .screenWrapper .screen:before {
  left: -3px;
  transform: rotate(-145deg);
}
.arcadeMachine .container .machine .screenWrapper .screen:after {
  right: -3px;
  transform: rotate(145deg);
}
.arcadeMachine .container .machine .screenWrapper .screen .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: auto;
  background-color: #1d1d1d;
}
.arcadeMachine .container .machine .screenWrapper .screen .inner .txt {
  color: #fff;
  text-align: center;
  font-style: italic;
  /*animation: flashText 2s ease infinite;*/
  background-blend-mode: screen;
}
.arcadeMachine .container .machine .controls {
  width: 100%;
  perspective: 100px;
}
.arcadeMachine .container .machine .controls .upControls, .arcadeMachine .container .machine .controls .downControls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  height: 50px;
  border: 3px solid #1d1d1d;
  border-top: 0;
  background-color: rgb(13, 49, 94);
  box-sizing: border-box;
  position: relative;
}
.arcadeMachine .container .machine .controls .upControls {
  transform: rotateX(19deg) translateY(-7px);
  perspective: 100px;
}
.arcadeMachine .container .machine .controls .upControls .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100px;
  height: 70px;
}
.arcadeMachine .container .machine .controls .upControls .buttons .button {
  width: 30px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #1d1d1d;
  background-color: #FFC107;
  position: relative;
}
.arcadeMachine .container .machine .controls .upControls .buttons .button:first-child {
  margin-right: auto;
  transform: translateY(5px);
}
.arcadeMachine .container .machine .controls .upControls .buttons .button:last-child {
  margin-left: auto;
}
.arcadeMachine .container .machine .controls .upControls .buttons .button:before {
  content: "";
  width: 100%;
  height: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #c99703;
  transform: translateY(1px);
}
.arcadeMachine .container .machine .controls .upControls .joystick {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 30px;
  margin-left: 40px;
  background-color: rgb(63, 63, 63);
  border: 1px solid #1d1d1d;
  position: relative;
}
.arcadeMachine .container .machine .controls .upControls .joystick:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 10px;
  border-radius: 50%;
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
}
.arcadeMachine .container .machine .controls .upControls .joystick:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  border-radius: 50%;
  box-shadow: -20px -10px 0 0 #1d1d1d, 23px -10px 0 0 #1d1d1d, -20px 10px 0 0 #1d1d1d, 23px 10px 0 0 #1d1d1d;
}
.arcadeMachine .container .machine .controls .upControls .joystick .handle {
  position: absolute;
  bottom: 50%;
  left: calc(50% - 1px);
  width: 9px;
  height: 40px;
  background-color: #1d1d1d;
  animation: joystick 0.5s linear infinite alternate;
  transform-origin: bottom;
}
.arcadeMachine .container .machine .controls .upControls .joystick .handle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #1d1d1d;
  background-color: #c99703;
  transform: rotateY(40deg) rotateX(-10deg) translateX(-50%) translateY(-50%);
}
.arcadeMachine .container .machine .controls .downControls {
  box-shadow: inset 0 15px 0 0 rgba(29, 29, 29, 0.1);
  transform: rotateX(-10deg) translateY(-9px);
}
.arcadeMachine .container .machine .controls .downControls .dots {
  display: block;
  width: 7px;
  height: 7px;
  margin: 0 50px 0 auto;
  border-radius: 50%;
  box-shadow: -25px -5px 0 0 #1d1d1d, -15px -5px 0 0 #1d1d1d, -5px -5px 0 0 #1d1d1d, 5px -5px 0 0 #1d1d1d, 15px -5px 0 0 #1d1d1d, 25px -5px 0 0 #1d1d1d, -20px 5px 0 0 #1d1d1d, -10px 5px 0 0 #1d1d1d, 0px 5px 0 0 #1d1d1d, 10px 5px 0 0 #1d1d1d, 20px 5px 0 0 #1d1d1d;
}
.arcadeMachine .container .machine .downSide {
  width: 98%;
  height: 700px;
  padding-top: 20px;
  margin: auto;
  background-color: rgb(13, 49, 94);
  border: 3px solid #1d1d1d;
  border-top: 0;
  border-bottom: 0;
  transform: translateY(-11px);
  box-sizing: border-box;
  position: relative;
}
.arcadeMachine .container .machine .downSide .shape {
  display: block;
  width: 65px;
  height: 5px;
  margin-left: 30px;
  background-color: #1d1d1d;
}
.arcadeMachine .container .machine .downSide .shape:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: rgba(29, 29, 29, 0.1);
}