<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Pong Web</title>
  <link rel="stylesheet" href="./assets/css/style.css">
  <style>
  </style>
</head>
<body>
<section class="arcadeMachine">
  <div class="container">
    <div class="machine">
      <div class="upSide">
        <p class="txt"><span class="deco">Pong</span></p>
      </div>
      <div class="screenWrapper">
        <div class="screen">
          <!-- Executem el canvas -->
          <canvas id="canvas" width="541" height="356"></canvas>
          <!-- Busquem els audios per al joc -->
          <audio id="pong_paddle">
            <source src="./assets/sounds/pong_paddle.mp3" type="audio/ogg">
            <source src="./assets/sounds/pong_paddle.mp3" type="audio/mpeg">
          </audio>
          <audio id="pong_wall">
            <source src="./assets/sounds/pong_wall.mp3" type="audio/ogg">
            <source src="./assets/sounds/pong_wall.mp3" type="audio/mpeg">
          </audio>
          <audio id="pong_score">
            <source src="./assets/sounds/pong_score.mp3" type="audio/ogg">
            <source src="./assets/sounds/pong_score.mp3" type="audio/mpeg">
          </audio>
          <audio id="pong_victoria">
            <source src="./assets/sounds/pong_victoria.mp3" type="audio/ogg">
            <source src="./assets/sounds/pong_victoria.mp3" type="audio/mpeg">
          </audio>
        </div>
      </div>
      <div class="controls">
        <div class="upControls">
          <div class="joystick">
            <div class="handle"></div>
          </div>
          <div class="buttons">
            <div class="button"></div>
            <div class="button"></div>
          </div>
          <div class="joystick">
            <div class="handle"></div>
          </div>
        </div>
        <div class="downControls">
          <span class="dots"></span>
        </div>
      </div>
      <div class="downSide">
        <span class="shape"></span>
      </div>
    </div>
  </div>
</section>
<script src="./assets/js/script.js"></script>
</body>
</html>
